
.logo{
    padding: 1px;
width: 90%;
}

.categoria1{
    padding: 20px;
    width: auto;
   
}
.categoria2{
    padding: 20px;
    width: auto;
}
.login{
    padding: 20px;
    width: auto;
}
.redes{
    margin-left: 4cm;
    
}
.productos1{
    margin: 40px;
    margin-left: 3cm;
}
.productos2{
    margin: 40px;
    margin-left: 3cm;
    margin-top: 3.6cm;
}
.productos3{
    margin: 40px;
    margin-left: 3cm;
    margin-top: 6cm;
}

.fondo{
    background:white ;
    border: 0;
}
